{% extends 'base.html' %}

{% block head %}
<title>Tambah Kata</title>
{% endblock %}

{% block body %}
<section class="action_form_container">
      <div class="action_form_wrap">
            <div class="action_img_wrap">
                  <img src="/static/svg/background.svg" alt="Background Image" loading="lazy">
            </div>

            <form action="/add" method="post" class="action_form">
                  <p>{{ success }}</p>
                  <p>{{ error }}</p>
                  <div class="action_form_title">
                        <h1 class="title">Tambah Kata Khusus</h1>
                  </div>
                  <div class="action_content_group">
                        <div class="action_field_group form_group">
                              <label for="kata_latin" class="label_field">Kata Latin</label>
                              <input type="text" name="kata_latin" id="kata latin" class="input_field" placeholder="Masukan kata latin">
                        </div>
                        <div class="action_field_group form_group">
                              <label for="bentuk_aksara" class="label_field">Kata Format Aksara</label>
                              <input type="text" name="bentuk_aksara" id="kata latin" class="input_field" placeholder="Masukan format aksara">
                        </div>
                  </div>

                  <div class="action_field_group form_group">
                        <label for="arti_kata" class="label_field">Arti Kata</label>
                        <input type="text" name="arti_kata" id="kata latin" class="input_field" placeholder="Masukan format aksara">
                  </div>

                  <button type="submit" class="action_btn">Tambah</button>
            </form>
      </div>
</section>
{% endblock %}