{% extends 'base.html' %}

<!-- Block Head -->
{% block head %}
<title>Halaman Utama</title>
{% endblock %}

<!-- Block Body -->
{% block body %}
<section class="home_container">
      <!-- Dialog untuk menampilkan pilihan kata yang mirip -->
      <div id="suggestionDialog" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)">
            <p style="text-align: center; font-weight: bold; margin-bottom: 1rem;">Suggestion List</p>
            <p style="margin-bottom: 1rem;" id="all"></p>
            <div id="suggestionButtons" style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 0.5rem;"></div>
            <button id="skipButton" onclick="skipWord()" style="width: 100%;  margin: 1rem 0 1rem 0; padding: .4rem 0; font-weight: bold;">Skip</button>
      </div>
      <!-- background img -->
      <div class="bg_image">
            <img src="/static/svg/background.svg" alt="Background Image" class="bg">
      </div>

      {% include 'navbar.html' %}

      <div class="home_content_wrap">
            <!-- special character button -->
            <!-- hiraukan -->
            <div class="button_box">
                  <!--- pepet -->
                  <button class="single_btn" onclick="add('é')">é</button>
                  <!--- A kara -->
                  <button class="single_btn" onclick="add('ā')">ā</button>
                  <!--- I kara -->
                  <button class="single_btn" onclick="add('ī')">ī</button>
                  <!--- U kara -->
                  <button class="single_btn" onclick="add('ú')">ū</button>
                  <!--- O kara -->
                  <button class="single_btn" onclick="add('ô')">ô</button>
                  <button class="single_btn" onclick="add('ḍ')">ḍ</button>
                  <button class="single_btn" onclick="add('ḷ')">ḷ</button>
                  <button class="single_btn" onclick="add('ḹ')">ḹ</button>
                  <button class="single_btn" onclick="add('ṁ')">ṁ</button>
                  <button class="single_btn" onclick="add('ṃ')">ṃ</button>
                  <button class="single_btn" onclick="add('ñ')">ñ</button><!-- na rambat -->
                  <button class="single_btn" onclick="add('ṝ')">ṝ</button>
                  <button class="single_btn" onclick="add('ś')">ś</button>
                  <button class="single_btn" onclick="add('ṣ')">ṣ</button>
                  <button class="single_btn" onclick="add('ṭ')">ṭ</button>
                  <button class="single_btn" onclick="add('<')">||</button>
                  <button class="single_btn" onclick="add('>')">|||</button>
                  <button class="single_btn" onclick="add('○')">○</button>
                  <button class="single_btn" onclick="add('þ')">Oṁ</button>
                  <button class="single_btn" onclick="add('ý')">Oṅg</button>
            </div>

            <!-- main form input -->
            <div class="home_form_wrap">
                  <form action="/translate" method="post" class="main_form">
                        <div class="main_field_group">
                              <!-- field teks asli -->
                              <!-- title input -->
                              <input class="title_input" type="text" name="title" id="title" placeholder="Masukan Judul" value="{{ judul }}">
                              <div class="text_input_field main_field">
                                    <!-- field tempat input teks latin -->
                                    <textarea class="latin_input field_box" name="kata_latin" placeholder="Masukan teks latin" id="latin_input" required>{{ kata_latin }}</textarea>
                              </div>

                              <!-- button -->
                              <div class="main_form_btn_group">
                                    <!-- button untuk translate -->
                                    <button class="btn_translate" type="submit">Translate
                                          <img src="/static/svg/translate.svg" alt="">
                                    </button>

                                    <!-- edit btn ini: button untuk spelling checker -->
                                    <button class="translate_btn" type="button" onclick="checkSpelling()">Check Spelling</button>


                                    <!-- button group -->
                                    <div class="main_btn_group">
                                          <!-- download popup -->
                                          <div class="download_popup" id="download_popup">
                                                <div class="grup">
                                                      <a href="/pdf" class="pdfDownload">Format Buku</a>
                                                      <!-- <button class="book_format" onclick="bookFormat()">Format Buku</button> -->
                                                      <a href="/lontar" class="pdfDownload">Format Lontar (.pdf)</a>
                                                      <a href="/test_lontar" class="pdfDownload">Format Lontar (.docx)</a>
                                                </div>
                                          </div>

                                          <!-- download btn -->
                                          <button type="button" class="btn_downloads" onclick="donwload()">Download<img src="/static/svg/download.svg"></button>
                                          <!-- <div class="btn_download main_action_btn" onclick="donwload()">
                                                <img src="/static/svg/download.svg" alt="Download Icon" class="download_icon btn_icon">
                                          </div> -->
                                    </div>
                              </div>

                              <!-- text result -->
                              <div class="">
                                    <h5>Hasil Translate</h5>
                                    <div class="text_result_field main_field">
                                          <!-- check if hasil -->
                                          <p class="result_text field_box" id="result_text">{{ hasil }}</p>
                                          <!-- <textarea name="result_text" cols="30" rows="10" class="result_text field_box" id="result_text" disabled>{{ hasil }}</textarea> -->
                                          <!-- <div id="suggestionList">{{ suggest }}</div> -->
                                    </div>
                              </div>
                        </div>
                  </form>
            </div>
      </div>
</section>

<script>
      async function bookFormat() {
            const teks = document.getElementById('result_text').value;
            const title = document.getElementById('title').value;

            const response = await fetch('/pdf', {
                  method: 'POST',
                  headers: {
                        'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({ data: teks }),
            });
      }

      let currentIndex = 0;
      let inputText;
      let suggestionsList = [];

      async function checkSpelling() {
            const teks = document.getElementById('latin_input').value;
            inputText = document.getElementById('latin_input').value.split(' ');

            const response = await fetch('/spell_check', {
                  method: 'POST',
                  headers: {
                        'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({ kata_latin: teks }),
            });

            const data = await response.json();
            const { suggestions, trans_result } = data;

            suggestionsList = [...suggestions]

            check()
      }

      function check() {
            const teks = document.getElementById('latin_input').value;
            inputText = document.getElementById('latin_input').value.split(' ');

            // get suggestions from global variable
            suggestions = suggestionsList

            // testing purpose
            // console.log(inputText[currentIndex]);

            // jika masih ada kata yang belum dicek
            if (currentIndex < inputText.length) {

                  // ambil kata yang akan dicek
                  const kataInput = inputText[currentIndex];

                  // temukan kata yang mirip dari suggest dengan kata inputan
                  const suggest = suggestions.filter(suggestion => suggestion[0] === kataInput);
                  // const suggest = suggestions.find(suggestion => suggestion[0] === kataInput);

                  // jika ada kata yang mirip
                  if (suggest.length > 0) {
                        showSuggestionDialog(suggest, teks);
                  } else {
                        currentIndex++;
                        check();
                  }

            } else {
                  // console.log(inputText);
                  alert("selesai");
            }
      }

      function showSuggestionDialog(suggestions, teksAll) {
            const suggestionDialog = document.getElementById('suggestionDialog');
            const suggestionButtons = document.getElementById('suggestionButtons');
            const allInputan = document.getElementById('all');

            // Hapus isi sebelumnya dari dialog
            suggestionButtons.innerHTML = '';

            // display kata target
            // const kataTarget = document.getElementById('target');
            // kataTarget.innerHTML = `Kata Target: ${suggestions[0][0]}`;

            // ambil semua teks inputan [berikan higlight pada kata disini]
            const words = teksAll.split(' ');

            allInputan.innerHTML = words
                  .map((word, index) => {
                        if (index === currentIndex) {
                              // Kata target di-highlight
                              return `<span class="highlight">${word}</span>`;
                        }
                        return word;
                  })
                  .join(' ');

            // display kata target
            // targetElement.innerHTML = `Kata Target: <span class="highlight">${suggestions[0][0]}</span>`;

            // Tambahkan tombol untuk setiap pilihan kata yang mirip
            suggestions.forEach(suggestion => {
                  const suggestionButton = document.createElement('button', { class: 'suggestList' });
                  suggestionButton.innerHTML = `${suggestion[1]} (${suggestion[2]})`;

                  console.log(suggestion)

                  suggestionButton.addEventListener('click', () => {
                        replaceWithSuggestion(suggestion[0], suggestion[3]);
                        suggestionDialog.style.display = 'none';
                        currentIndex++;
                        setTimeout(check, 100); // Lanjutkan ke kata berikutnya setelah beberapa saat
                  });
                  suggestionButtons.appendChild(suggestionButton);
            });

            // Tambahkan event listener untuk tombol Skip
            const skipButton = document.getElementById('skipButton');
            skipButton.addEventListener('click', () => {
                  suggestionDialog.style.display = 'none';
                  currentIndex++;
                  setTimeout(() => {
                        check(); // Lanjutkan ke kata berikutnya setelah beberapa saat
                  }, 100);
            });


            suggestionDialog.style.display = 'block';
      }

      function replaceWithSuggestion(selectedWord, selectedSuggestion) {
            const inputTexts = document.getElementById('latin_input');
            const currentText = inputTexts.value;
            console.log('test: ' + inputText)
            const newText = currentText.replace(selectedWord, selectedSuggestion);
            inputTexts.value = newText;
      }

      function skipWord() {
            const suggestionDialog = document.getElementById('suggestionDialog');
            suggestionDialog.style.display = 'none';
      }
</script>
{% endblock %}