<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/layouts/lontar.css">
    <title>Lontar Template</title>
</head>

<body>
    <div class="lontar_template">
        <!-- <div class="bg_wrap">
            <img src="/static/svg/Lontar-Template.svg" alt="">
        </div> -->

        <!-- content -->
        <p class="content">{{ history.teks_hasil }}</p>
    </div>
</body>

</html>