<!-- navbar -->
<nav class="navbar_container">
      <div class="nav_content_wrap">
            <div class="logo">
                  <a href="/" class="home_anchor">
                        <img src="/static/svg/Logo.svg" alt="Logo Image" class="img_logo" loading="lazy">
                  </a>
            </div>

            <button class="nav_toggle" onclick="popupToggle()">
                  <img src="/static/svg/toggle.svg" alt="Toggle Icon" class="toggle_icon">
            </button>

            <div class="popup">
                  <ul class="popup_content">
                        <a class="popup_link" href="/history">History Translate</a>
                        <a class="popup_link" href="/list">Daftar Kata</a>
                        <hr class="divide_line">
                        <a class="logout_btn" href="/auth/logout">Logout</a>
                  </ul>
            </div>
      </div>
</nav>